package layouts

templ ContainerCSS() {
	<style>
    .container {
        max-width: 1512px;
        margin: 0 auto;
        padding: 0 20px;
    }
</style>
}

templ Container() {
	@ContainerCSS()
	<div class="container">
		{ children... }
	</div>
}
