package layouts

templ FooterCSS() {
	<style>
        .footer {
            background-color: rgba(62, 50, 50, 0.05);
            border-radius: 12px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 8px 0;
            align-items: center;
            height: 48px;
        }
    </style>
}

templ Footer() {
	@FooterCSS()
	<div class="footer">
		{ children... }
	</div>
}
