:root {
    --color-font-primary: #3E3232;
    --color-font-secondary: #FC4308;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    flex: 1;
}

header {
    flex-shrink: 0;
}

footer {
    flex-shrink: 0;
}