package components

templ LinkSignCSS() {
	<style>
        .item {
            cursor: pointer;
            font-weight: 500;
            font-size: 16px;
            text-decoration: none;
            color: var(--color-font-primary);

        }
        .item:active {
            color: var(--color-font-secondary);
            font-weight: 700;
        }
    </style>
}

templ LinkSign(name string, href string) {
	@LinkSignCSS()
	<a class="item" href={ templ.SafeURL(href) }>{ name }</a>
}
